


<% layout('boilerplate') -%>

<h1>Shop Smart, Save Big</h1>

<p>Starting point to create something more unique</p>

<p>Sign up to start Buying</p>

<h1> Start your search here</h1>


<p> our prices are some of the best on the web</p>


<h3> Start your search here</h3>
<p>these will appear across the sires as your add to your cart</p>

<h3> StaBuild a smart cart</h3>

<p>The more items you buy together , the more you save </p>

